body {
  font : 14px Tahoma, Verdana, Helvetica, Arial, sans-serif;
}



#dashboard   {
  width      : 650px;
  margin     : auto;
  margin-top : 30px;
}

#dashboard table {
  border-collapse : collapse;
  text-align : center;
}

#play {
  margin-left : 20px;
  margin-top  : 20px;
  height      : 30px;
  width       : 35px;
  text-align  : center;
}

#rhythm_selector {
  margin-left : 50px;
  margin-top  : 20px;
  padding     : 0 20px 0 0;
}

#tempo {
  margin-left : 20px;
  margin-top  : 5px;
  width       : 80px;
}

.metronome {
  border-style : none;
}

.metronome td {
  border           : 7px solid white;
  background-color : lightGrey;
  height           : 15px;
}

.metronome td.highlite {
  background-color : lightGreen;
}

.diagram  td{
  border-top      : 2px solid black;
  border-bottom   : 2px solid black;
  border-collapse : collapse;
  width           : 30px;
  height          : 30px;
}
.diagram td.leftb {
  border-left     : 2px solid black;
}
.diagram td.rightb {
  border-right     : 2px solid black;
}

.diagram  th{
  width : 50px;
}

.controls th{
  width       : 50px;
  height      : 30px;
  font-weight : normal;
}

.controls td {
  border           : 5px solid white;
  background-color : lightGrey;
}

.controls td.highlite {
  background-color : coral;
}

.separator {
  height: 2px;
}

